/* player character */
/* mc stands for main character */
#mc {
	position: absolute;
	bottom: 50px;
	left: calc( 50% -  38px);
	height: 71px;
	width: 40px;
}

#mc > div {
	height: 71px;
	width: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: transparent url( ../img/mc/mc-right.gif ) no-repeat center center;
}

#mc.down,
#mc.down > div { height: 38px; }

.show-hitbox #mc > div { border: 1px solid #f00; }

#mc.right.up > div {  background-image: url( ../img/mc/mc-right-up.gif ); }
#mc.right.down > div {  background-image: url( ../img/mc/mc-right-down.gif ); }

#mc.left > div {  background-image: url( ../img/mc/mc-left.gif ); }
#mc.left.up > div {  background-image: url( ../img/mc/mc-left-up.gif ); }
#mc.left.down > div {  background-image: url( ../img/mc/mc-left-down.gif ); }

#mc.right.jump > div,
#mc.right.fall > div,
#mc.fall > div { background-image: url( ../img/mc/mc-right-jump.gif ); }

#mc.left.jump > div,
#mc.left.fall > div { background-image: url( ../img/mc/mc-left-jump.gif ); }

#mc.damage > div { background-image: url( ../img/mc/mc-damage.gif ) !important; }